# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/innogram
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=innogram_user
POSTGRES_PASSWORD=innogram_password
POSTGRES_DB=innogram

#MinIO Configuration
MINIO_ROOT_USER=innogram_user
MINIO_ROOT_PASSWORD=innogram_admin
MINIO_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000
S3_BUCKET=innogram-files

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
JWT_ACCESS_EXPIRES_IN=720m
JWT_REFRESH_EXPIRES_IN=10080m

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# File Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760

# Application URLs
DOMAIN=localhost
NEXT_PUBLIC_CHAT_SOCKET_SERVER_URL=ws://localhost:3004
NEXT_PUBLIC_API_URL=http://localhost:3001/api
CORE_SERVICE_URL=http://localhost:3001
AUTH_SERVICE_URL=http://localhost:3002
NOTIFICATIONS_SERVICE_URL=http://localhost:3003
CLIENT_URL=http://localhost:3000

# Message Broker
RABBITMQ_URL=amqp://localhost:5672
KAFKA_BROKERS=localhost:9092

# Development
CORE_SERVICE_PORT=3001
AUTH_SERVICE_PORT=3002
NODE_ENV=development
LOG_LEVEL=debug
